*.o
*.zip
*.d

node_modules/
.vscode
.clang-format
.npm
.json

__pycache__/
.venv/
venv/
*.pyc
db.sqlite3
.env
.env.*

II_year/Web-Applications/beastmaxima/node_modules

kayles_server
kayles_client

sikradio
